.barra-superior {
  background-color: #0b3dad;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.05rem;
}

.barra-superior span {
  font-weight: bold;
  margin-left: 1200px;
}

.social-icons img {
  width: 23px;
  margin-left: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4ff;
  margin: 0;
  padding: 0;
}

.services {
  text-align: center;
  padding: 40px 20px;
  padding-top: 5px;
}

.services h2 {
  color: #007bff;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 70px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.service-item {
  text-align: left;
  width: 45%;
  margin-top: 20px;
}

.service-box {
  background-color: #2242a4;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0.5px;
  padding-bottom: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-align: justify;
  font-family: "Literata", serif;
  font-weight: 300;
  font-style: normal;
}

.service-title {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}

.footer-section {
  background-color: #d9d9d9;
  color: #000000;
  padding: 30px 18px;
  padding-top: 17px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}

.footer-column {
  width: 20%;
}

.footer-column h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #000000;
}

.footer-column li {
  font-family: "Literata", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.footer-column li:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
}

.email-input {
  padding: 10px; /* Espaciado interno */
  width: 80%; /* Ancho del campo de entrada */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris claro */
  font-size: 16px; /* Tamaño de fuente */
  margin-bottom: 10px; /* Espacio inferior entre el campo y el botón */
  background-color: #ffffff;
}
